@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~leaflet/dist/leaflet.css";

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: #d8d8d8;
	border-radius: 40px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

.mobile-w {
	width: 375px;
}


/* ------------------------------------ Start Fotbar ------------------------------------ */
.kotak {
	/* bg-warna */
	background-color: #FAFAFA;
	height: 100px;
	border-radius: 10px;
	width: 375px;
	border-radius: 12px;
	position: absolute;
	margin-bottom: 100px;
}

.lingkar {
	border-radius: 500px;
	background-color: #c4c4c4;
	width: 82.89854431152344px;
	height: 88px;
	position: absolute;
	left: 153px;
	top: -44px;
}

.icon_nav {
	color: #618264;
	width: 24px;
	height: 24px;
	position: absolute;
}

/* menu ke 1 */
.menu1 {
	left: 37px;
	top: 28px;
}

/* meneu ke 2 */
.menu2 {
	color: #BDC2C6;
	left: 105px;
	top: 28px;
}

/* menu ke 3 */
.menu3 {
	color: #BDC2C6;
	left: 261px;
	top: 28px;
}

/* menu ke 4 */
.menu4 {
	color: #bdc2c6;
	left: 329px;
	top: 28px;
}

/* menu tengah */
.lingkaran {
	background-image: linear-gradient(0deg, #3fb648 0%, #64a66a 100%);
	width: 64px;
	height: 64px;
	position: absolute;
	border-radius: 100px;
	left: 162px;
	top: -32px;
}

.iconQr {
	background-color: rgba(255, 255, 255, 1);
	width: 40px;
	height: 40px;
	position: absolute;
	left: 12px;
	top: 12px;
	border-radius: 100px;
}

/* ------------------------------------ End Fotbar ------------------------------------ */