.listMenu {
    width: 350px;
    height: 92px;
    margin: 10px 13px 15px 13px;
}

.menuItem {
    width: 53px;
    height: 71px;
    padding: 10px;
}

.iconMenu {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    color: #6CB28E;
    background-color: #D6F0CB;
    padding: 12px;

}

.snap-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.snapItem {
    /* Add any additional styles for snap items */
    /* For example: */
    border: 1px solid #ccc;
    /* other styles... */
}



/* ------------------------------------------------------------------------------- */
.card {
    flex-wrap: nowrap;
    overflow-y: auto;

}

@media (max-width: 767px) {
    .card {
        max-height: 400px;
    }
}

@media (min-width: 768px) {
    .card {
        max-height: 300px;
    }
}

.cutTextCard {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Show only 3 lines */
    -webkit-box-orient: vertical;
}

.item_card {
    box-shadow: 0px 3px 5px #00000040;
    width: 344px;
    height: 100px;

}

.img_card {
    width: 90px;
    height: 90px;
    max-width: 90px;
}

.text_card {
    width: 235px;
    /* tambahkan gaya tambahan untuk mengatur tata letak teks jika diperlukan */
}


/* ---------------------------------------------------------------------------- */

.slide_card {
    padding: 10px;
    overflow: auto;
    white-space: nowrap;
}

.slide_card::-webkit-scrollbar {
    display: none;
}

.items_slide {
    box-shadow: 0px 3px 5px #00000040;
    width: 344px;
    height: 124px;

}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Show only 3 lines */
    -webkit-box-orient: vertical;
}

.img_slide {
    width: 126px;
    height: 124px;
}

/* LoadingSkeleton.module.css */

.loadingCard {

    margin: 10px;
    /* Add margin as needed */
    /* background-color: #eee; */
    /* Placeholder background color */
    position: relative;
}

.shimmer {
    width: 350px;
    height: 100px;
    border-radius: 10px;
    background: linear-gradient(to right, #f0f0f0 0%, #d8d8d8 20%, #f0f0f0 40%, #f0f0f0 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}


@keyframes shimmer {
    to {
        background-position: -200% 0;
    }
}